# -----------------------------------------------------------------------------
# General Ignores
# -----------------------------------------------------------------------------
.DS_Store             # macOS system files
Thumbs.db             # Windows thumbnail cache
.env                  # Environment variables (CRITICAL: DO NOT COMMIT SENSITIVE DATA)
.vscode/              # VS Code settings (optional, if you want to share specific settings, remove this)
.idea/                # IntelliJ/PyCharm IDE files

# -----------------------------------------------------------------------------
# Python (Backend) Specific Ignores
# -----------------------------------------------------------------------------
# Byte-code files
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/

# Python build artifacts
*.egg-info/
dist/
build/

# MyPy cache (if using mypy for type checking)
.mypy_cache/

postgres_data/

node_modules/

# Build output directories
build/
dist/
.next/ # For Next.js projects
out/   # Common for static site generators

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo (for React Native with Expo)
.expo/
web-build/