.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.right {
  flex: 1;
  background: linear-gradient(135deg, #388b5b, #2b7349);
}

.title {
  color: #2b7349;
  font-family: 'Inter', sans-serif;
}